@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap");

/* Variables */
:root {
  // Colors
  --color-red: rgb(252, 71, 71);
  --color-black: rgb(16, 20, 30);
  --color-gray: rgb(90, 105, 143);
  --color-navy: rgb(22, 29, 47);
  --color-white: rgb(255, 255, 255);

  --style-br: 20px;
}

/* Default Styling */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @media screen and (min-width: 1500px) {
    font-size: 75%;
  }
  @media screen and (max-width: 1015px) {
    font-size: 58%;
  }
  @media screen and (max-width: 700px) {
    font-size: 56%;
  }
  @media screen and (max-width: 700px) {
    font-size: 52%;
  }
}

body {
  box-sizing: border-box;
  color: var(--color-white);
  font-family: "Outfit", sans-serif;
  background-color: var(--color-black);
  caret-color: var(--color-red);
}

//Global Styles

h1 {
  //Heading L
  font-size: 3.2rem;
  font-weight: 300;
}

h2 {
  //Heading M
  font-size: 2.4rem;
  font-weight: 300;
}

h3 {
  //Heading S
  font-size: 2.4rem;
  font-weight: 500;
}

h4 {
  //Heading XS
  font-size: 1.8rem;
  font-weight: 500;
}

p {
  //Body M
  font-size: 1.5rem;
  font-weight: 300;
}

span {
  //Body S
  font-size: 1.3rem;
  font-weight: 300;
}

/*!! Scrollbar */
@supports (overflow-y: overlay) {
  html {
    overflow-y: overlay;
  }
}

*::-webkit-scrollbar {
  display: block;
  width: 1.4rem;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-track {
  background-color: #00000000;
}

*::-webkit-scrollbar-track-piece {
  background-color: #00000000;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-red);
  border-radius: 24px;
}
